/*
* @Author: anchen
* @Date:   2017-10-11 10:29:00
* @Last Modified by:   anchen
* @Last Modified time: 2017-10-17 22:52:05
*/
 html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, font, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-style: inherit;
        font-size: 100%;
        font-family: inherit;
        vertical-align: baseline;
    }
    article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block;}
    .clearfix:before,
    .clearfix:after {
                        content: "";
                        display: block;
                        clear: both;
                        visibility: hidden;
                        line-height: 0;
                        height: 0;
                        font-size:0;
}

.clearfix { *zoom:1;}

li{
    list-style: none;
}
a{
    text-decoration: none;
}
.wrap{
    width: 6.4rem;
    font-size: 0.3rem;
    background-color: #ebebeb;
}
.top{
    width: 6.4rem;
    background-color: #50bbdb;
}
.top>a:nth-child(1){
    width: 0.43rem;
    height: 0.43rem;
    display: block;
    background-image: url(../images/fanhui.jpg);
    background-size:0.43rem;
    margin-left: 0.45rem;
    float: left;
    margin-top: 0.23rem;
}

.top>h1{
    line-height: 0.88rem;
    font-size: 0.32rem;
    color:#ffffff;
    text-align: center;
    margin-left: 1.6rem;
    float: left;
}
.top>a:nth-child(3){
    display: block;
    float: right;
    width: 0.52rem;
    margin-right: 0.7rem;
    margin-top: 0.25rem;
}
.top>a:nth-child(3)>img{
    width: 0.52rem;
}
.top>a:nth-child(3)>img{
    width: 0.37rem;
}
.wrap>a{
    font-size: 0.2rem;
    color:#333333;
    display: block;
    background-image: url(../images/yjt_03.png);
    background-repeat: no-repeat;
    -webkit-background-size: 0.13rem;
    background-size: 0.13rem;
    background-position: 6rem center;
    background-color: #fff;
    line-height: 0.44rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    border-bottom: 1px solid #dcdcdc;
}
.line,.explain,.contacts,.tourist,.insurence{
     width: 5.54rem;
    padding: 0.12rem 0 0.2rem 0.5rem;
    background-image: url(../images/ggg_14.png);
    background-repeat: no-repeat;
    -webkit-background-size: 0.04rem;
    background-size: 0.04rem;
    background-position: 0.28rem 0.24rem;
    border-bottom: 1px solid #dcdcdc;
    margin: 0 auto;
    background-color: #fff;
    margin-top: 0.17rem;
    border-radius: 0.1rem;
}
.line>h1,.explain>h1,.contacts>h1,.tourist>h1,.insurence>h1{
    font-size: 0.24rem;
    color:#333;
    line-height: 0.48rem;
    border-bottom: 1px solid #ccc;
}
.line p,.line span,.explain>p,.contacts span,.tourist span,.tourist span{
    font-size: 0.18rem;
    color:#595959;
    line-height: 0.44rem;
}
.line>div:nth-child(3)>p{
    float: left;
}
.line>div:nth-child(3) .clear{
    float: right; 
    margin-right: 0.5rem;
    width: 0.75rem;
    line-height: 0.33rem;
    font-size: 0.18rem;
    color:#50bbdb;
    border: 2px solid #cccccc;
    background-color: #fff; 
}
.line>div:nth-child(5){
    margin-top: 0.1rem;
}
.line>div:nth-child(5)>span{
    float: left;
    margin-top: -0.1rem;
}
.line>div:nth-child(5)>a{
    float: left;
    display: block;
    width: 0.34rem;
    line-height: 0.28rem;
    border: 1px solid #ccc;
    text-align: center;
    color:#50bbdb;
}
.line>div:nth-child(5)>p{
    float: left;
    width: 0.49rem;
    line-height: 0.28rem;
    border: 1px solid #ccc;
    text-align: center;
    color:#333;
}
.line>div:nth-child(6)>span:nth-child(1){
    float: left;
    display: block;
}
.line>div:nth-child(6)>span:nth-child(3){
    display: block;
}

.line>div:nth-child(6)>.but{
    float: left;
    width: 0.2rem;
    height: 0.2rem;
    color:#50bbdb;
    margin-top: 0.13rem;
}
.line>div:nth-child(6)>.butt{
    width: 0.2rem;
    height: 0.2rem;
    color:#50bbdb;
    margin-left: 1.35rem;
}
.explain>h4{
    font-size: 0.18rem;
    color:#333;
    line-height: 0.44rem; 
}
.contacts>div>span>em{
    color:#50bbdb;
}
.contacts>div>input,.tourist>div>input{
    border: 0;
    font-size: 0.18rem;
    outline: none;
    color:#ccc;
}
.contacts>h1>span{
    float: right;
    margin-right: 0.4rem; 
    color:red;
}
.bon,.btn{
    margin-left: 1.55rem;
    width: 0.2rem;
    height: 0.2rem;  
}
.btn{
    margin-left: 0.1rem;
}
.contacts>div,.tourist>div{
    border-bottom: 1px solid #dcdcdc;
}
.tourist>h1>span{
    float: right;
    color:#50bbdb;
    margin-right: 0.32rem;
}
#cft{
    width: 1.2rem;
    line-height: 0.39rem;
    text-align: center;   
}
.tourist>p{
    width: 0.36rem;
    line-height: 0.36rem;
    border: 1px solid #9f9f9f;
    margin: auto;
    margin-top: 0.08rem;
    border-radius: 50%;
    text-align: center;
    color:#9f9f9f;
}
#btn1{
    width: 0.21rem;
    height: 0.24rem;
    position: relative;
    top:0.2rem;
    float: left;
}

.insurence>div:nth-child(2),.insurence>div:nth-child(4){
    width: 0.29rem;
    height: 0.27rem;
    position: relative;
    top:0.3rem;
    left: 0.02rem;
}
.insurence>div:nth-child(2)>.trues,.insurence>div:nth-child(4)>.trues{
    width: 0.29rem;
    height: 0.27rem;
    background-image: url(../images/btn1_03.png);
    -webkit-background-size: 0.29rem;
    background-size: 0.29rem;
    position: relative;
    z-index: 20;
}
.insurence>div:nth-child(3){
    margin-top: -0.27rem;
    border-bottom: 1px solid #cccccc;
}
.insurence>div:nth-child(5){
    margin-top: -0.27rem;
}
.insurence>div:nth-child(2)>.falses,.insurence>div:nth-child(4)>.falses{
     width: 0.2rem;
    height: 0.22rem;
    background-color: #fff;
    border: 1px solid #50bbdb;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
}
.inleft{
    float: left;
    margin-top: 6px;
}
.inleft>span{
    display: block;
    width: 2.6rem;
    font-size: 0.18rem;
    color:#333333;
    line-height: 0.36rem;
    margin-left: 0.3rem;
}
.inright{
    float: right;
}
.inright>a{
    display: block;
    font-size: 0.18rem;
    float: right;
    color:#666666;
    margin-right: 0.35rem;
    margin-top: 0.1rem;
    line-height: 0.32rem;
}
.inright>span{
    display: block;
    float: right;
    margin-right: -0.5rem;
    margin-top: 0.4rem;
    color:#666666;
    font-size: 0.18rem;
}
.inright>span>em{
    display: block;
    float: left;
    color:#f98d0d;
}
.agr{
    width: 3.2rem;
    margin: 0 auto;
}
.agr>span{
    font-size: 0.18rem;
    line-height: 0.68rem;
}
.agr>.check{
    width: 0.19rem;
    height: 0.18rem;
}
.submit{
    width: 6rem;
    margin: 0 auto;
}
.submit>p{
    font-size: 0.22rem;
    color:#f0851a;
    float: left;
    line-height: 1rem;
}
.submit>a{
    display: block;
    float: right;
    margin-top: 0.16rem;
    width: 2.35rem;
    line-height: 0.66rem;
    text-align: center;
    background-color: #50bbdb;
    color:#fff;
    border-radius: 3px;
}